.bounding-box {
	position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: -ms-flexbox;
    display: flex;
    /*to not display bounding box and related css emoji face*/
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://cdn.shopify.com/s/files/1/1061/1924/products/Slightly_Smiling_Face_Emoji_87fdae9b-b2af-4619-a37f-e484c5e2e7a4_large.png?v=1480481059);

}

#imageDiv {
 /* background-color: white;
  padding: 10px 100px 40px 10px;*/
    margin-bottom: 25px;
}

#inputImage {
    display: none;
}

#canvas {
    padding: 10px;
    padding-bottom: 100px;
    border: 1px solid black;
}

/*#container {
    text-align: center;
    padding: 10px 20px;
}*/
